* {
    font-family: 'Mulish', sans-serif;
    color: #390CB4;
}

.navbar-brand {
    font-family: 'Rozha One', serif;
}

.nav, .navbar {
    color:white!important;
    background-color: #D94C92!important;
}

.navber:hover, .nav-item:hover, .nav-link:hover, .navbar-nav:hover {
    color: white!important;
}

.navbar-toggler-icon, .navbar-toggler {
  background-color: #A057F8!important;
  border-radius: 15px;
}

/* .card-body {
    padding: 12rem!important;
} */

h1, h2, h3, h4 {
    /* font-family: 'Castoro', serif; */
    font-family: 'Rozha One', serif;
    /* color: #033e16!important; */
    color: #A057F8!important;

}

.line-height-reduce {
    line-height: 0.5;
}

.card-text {
    color: white;
}

.card, .card-img-top, .card-img-overlay {
    border-radius: 0!important;
}

.nav-item {
    color: #8ad6c0;
}

.logo {
    padding-left: 0.5em;
}

.content-wrapper {
    height: 50%;
    width: auto;
    overflow: hidden;
}

.content-wrapper img {
    height: 55vh;
    object-fit: cover;
}

.banner {
    height: 75vh;
    width: auto;
    overflow: hidden;
    border: none!important;
    border-radius: none!important;
}

.banner img {
    height: 100vh;
    object-fit: cover;
    border: none!important;
    border-radius: none!important;
}

img {
    border-radius: none!important;
}

.btn, .btn-success {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    background-color: #D94C92!important;
    color: #390CB4!important;
    border: none!important;
    outline: none!important;
    /* border-radius: 15px; */
}

.btn:hover{
    background-color: #e8338d!important;
    color: #390CB4!important;
    border: none;
    outline: none;
}

.navbar-toggler{
    font-family: 'Bebas Neue', cursive;
}

.bg-dark {
    background-color: #D94C92!important;
}

@media (max-width: 800px) {
   .banner {
        height: 65vh;
        width: auto;
        overflow: hidden;
   }

   .banner img {
        height: 100vh;
        object-fit: cover;
   }

   .logo {
    padding-left: 0;
}
}